<section class="section with-dark-background">
                    <div class="padding smaller-bottom">
                        <div class="container">
                            <div data-wf--section-content-block--variant="base" class="section-content-block">
                                <div data-wf--marker--variant="dark-background" class="marker">
                                    <div class="marker-title-wrapper">
                                        <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5c6_line_start_diamond_24dp_EDFCF4_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="marker-icon is-left w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604 for-dark-bg"/>
                                        <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5ba_line_start_diamond_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="marker-icon is-left w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604"/>
                                        <div class="marker-title">Blog Posts</div>
                                        <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5bb_line_end_diamond_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="marker-icon is-right w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604"/>
                                        <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5c7_line_end_diamond_24dp_EDFCF4_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="marker-icon is-right w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604 for-dark-bg"/>
                                    </div>
                                    <div class="marker-number">VIII</div>
                                </div>
                                <h2 data-w-id="80086e74-9235-ae1a-d2a6-ce2f6e6ae4ab" class="heading is-large-title">Rooted in Nature: Stories of Farm Life</h2>
                            </div>
                        </div>
                    </div>
                    <div class="featured-articles w-dyn-list">
                        <div role="list" class="featured-articles-list w-dyn-items">
                            <div role="listitem" class="featured-article-item w-dyn-item">
                                <a aria-label="Open blog post" href="#" class="featured-article-link-block w-inline-block">
                                    <div class="featured-article-content">
                                        <div class="article-list-categories">
                                            <p class="article-list-category-text is-featured">Featured</p>
                                            <p class="article-list-category-text">Stories from the Farm</p>
                                        </div>
                                        <h3 class="heading is-article-listing-title">Seasonal rhythms: How farmers adapt to nature’s cycle</h3>
                                        <div class="article-author-block">
                                            <div class="article-author-image">
                                                <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif" loading="lazy" alt="" sizes="(max-width: 767px) 26.3984375px, (max-width: 991px) 28.796875px, (max-width: 1919px) 2vw, 32px" srcset="https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif 500w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif 800w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif 1029w" class="cover-image"/>
                                            </div>
                                            <p class="article-author-name">Ella Greenfield</p>
                                        </div>
                                    </div>
                                    <div class="featured-article-background">
                                        <div class="featured-article-bg-image">
                                            <div class="image-3d-parallax">
                                                <div class="_3d-block">
                                                    <div class="_3d-trigger">
                                                        <div class="parallax-animation">
                                                            <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f47f_pexels-trinitykubassek-288621.avif" alt="" class="cover-image is-parallax"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="featured-article-overlay-color"></div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="featured-article-item w-dyn-item">
                                <a aria-label="Open blog post" href="#" class="featured-article-link-block w-inline-block">
                                    <div class="featured-article-content">
                                        <div class="article-list-categories">
                                            <p class="article-list-category-text is-featured">Featured</p>
                                            <p class="article-list-category-text">Sustainable Farming</p>
                                        </div>
                                        <h3 class="heading is-article-listing-title">Natural pest control methods every farmer should know</h3>
                                        <div class="article-author-block">
                                            <div class="article-author-image">
                                                <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif" loading="lazy" alt="" sizes="(max-width: 767px) 26.3984375px, (max-width: 991px) 28.796875px, (max-width: 1919px) 2vw, 32px" srcset="https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif 500w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif 800w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif 1029w" class="cover-image"/>
                                            </div>
                                            <p class="article-author-name">Ella Greenfield</p>
                                        </div>
                                    </div>
                                    <div class="featured-article-background">
                                        <div class="featured-article-bg-image">
                                            <div class="image-3d-parallax">
                                                <div class="_3d-block">
                                                    <div class="_3d-trigger">
                                                        <div class="parallax-animation">
                                                            <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f33e_pexels-prabahar-ravichandran-266968678-12901835.avif" alt="" class="cover-image is-parallax"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="featured-article-overlay-color"></div>
                                    </div>
                                </a>
                            </div>
                            <div role="listitem" class="featured-article-item w-dyn-item">
                                <a aria-label="Open blog post" href="#" class="featured-article-link-block w-inline-block">
                                    <div class="featured-article-content">
                                        <div class="article-list-categories">
                                            <p class="article-list-category-text is-featured">Featured</p>
                                            <p class="article-list-category-text">Sustainable Farming</p>
                                        </div>
                                        <h3 class="heading is-article-listing-title">The benefits of organic composting for healthier crops</h3>
                                        <div class="article-author-block">
                                            <div class="article-author-image">
                                                <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif" loading="lazy" alt="" sizes="(max-width: 767px) 26.3984375px, (max-width: 991px) 28.796875px, (max-width: 1919px) 2vw, 32px" srcset="https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif 500w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif 800w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f466_author-photo.avif 1029w" class="cover-image"/>
                                            </div>
                                            <p class="article-author-name">Ella Greenfield</p>
                                        </div>
                                    </div>
                                    <div class="featured-article-background">
                                        <div class="featured-article-bg-image">
                                            <div class="image-3d-parallax">
                                                <div class="_3d-block">
                                                    <div class="_3d-trigger">
                                                        <div class="parallax-animation">
                                                            <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f2b5/674df336a930ddd34ee3f451_pexels-enginakyurt-1435904.avif" alt="" class="cover-image is-parallax"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="featured-article-overlay-color"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="mesh-gradient"></div>
                </section>