{% extends "base.html" %}
{% load static %}
{% block content %}

<section>
                <div data-wf--hero-simple--variant="base" class="simple-hero">
                    <div class="simple-hero-title-block">
                        <div class="container">
                            <div class="simple-hero-content">
                                <div class="simple-hero-title-size">
                                    <h1 class="heading is-simple-hero-title">Contact Us</h1>
                                </div>
                                <div class="simple-hero-button">
                                    <a href="#information" class="main-button w-inline-block">
                                        <p class="main-button-text">Information</p>
                                        <img src="{% static 'images/674df336a930ddd34ee3f5b8_arrow_downward_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="main-button-icon"/>
                                        <img src="{% static 'images/674df336a930ddd34ee3f614_leaf-1.avif' %}" loading="lazy" alt="" class="main-button-pattern"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="simple-hero-paragraph-block">
                        <div class="container">
                            <div class="max-width-60">
                                <p class="paragraph is-large">Visit us where freshness begins. Explore our farm or shop conveniently at our local stores—we’re here to share the bounty with you!</p>
                            </div>
                        </div>
                    </div>
                    <div class="simple-hero-background">
                        <div class="image-parallax">
                            <div class="image-animation-trigger">
                                <div class="parallax-animation">
                                    <div class="animation-color-bg"></div>
                                    <img src="{% static 'images/674df336a930ddd34ee3f63c_grocery-bg-1.webp' %}" alt="Grocery" class="cover-image is-parallax"/>
                                </div>
                            </div>
                        </div>
                        <div class="simple-hero-bg-overlay"></div>
                    </div>
                </div>
                <section id="information" class="section with-dark-background">
                    <div id="addresses" class="location-wrapper">
                        <div class="location-grid">
                            <div id="w-node-a87e1455-e83e-7675-4b50-348ee4a167de-4ee3f2b9" class="location-image-layout">
                                <div class="location-image-block">
                                    <div class="image-3d-parallax">
                                        <div class="_3d-block">
                                            <div class="_3d-trigger">
                                                <div class="image-animation-trigger">
                                                    <div class="parallax-animation">
                                                        <div class="animation-color-bg is-green"></div>
                                                        <img 
                                                            src="{% static 'images/674df336a930ddd34ee3f63b_grocery-bg-3.webp' %}" 
                                                            alt="Grocery" 
                                                            sizes="(max-width: 479px) 88vw, (max-width: 767px) 90vw, (max-width: 991px) 92vw, (max-width: 1439px) 36vw, (max-width: 1919px) 39vw, 50vw" 
                                                            srcset="
                                                                {% static 'images/674df336a930ddd34ee3f63b_grocery-bg-3.webp' %} 500w, 
                                                                {% static 'images/674df336a930ddd34ee3f63b_grocery-bg-3.webp' %} 800w, 
                                                                {% static 'images/674df336a930ddd34ee3f63b_grocery-bg-3.webp' %} 1080w, 
                                                                {% static 'images/674df336a930ddd34ee3f63b_grocery-bg-3.webp' %} 1600w, 
                                                                {% static 'images/674df336a930ddd34ee3f63b_grocery-bg-3.webp' %} 2000w, 
                                                                {% static 'images/674df336a930ddd34ee3f63b_grocery-bg-3.webp' %} 2912w" 
                                                            class="cover-image is-parallax" 
                                                            />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-a87e1455-e83e-7675-4b50-348ee4a167e1-4ee3f2b9" class="location-content">
                                <div data-wf--marker--variant="dark-background" class="marker">
                                    <div class="marker-title-wrapper">
                                        <img src="{% static 'images/674df336a930ddd34ee3f5c6_line_start_diamond_24dp_EDFCF4_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-left w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604 for-dark-bg"/>
                                        <img src="{% static 'images/674df336a930ddd34ee3f5ba_line_start_diamond_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-left w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604"/>
                                        <div class="marker-title">Address</div>
                                        <img src="{% static 'images/674df336a930ddd34ee3f5bb_line_end_diamond_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-right w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604"/>
                                        <img src="{% static 'images/674df336a930ddd34ee3f5c7_line_end_diamond_24dp_EDFCF4_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-right w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604 for-dark-bg"/>
                                    </div>
                                    <div class="marker-number">I</div>
                                </div>
                                <div class="location-content-wrapper">
                                    <div class="location-block">
                                        <p class="paragraph is-extra-large">Village Nagar</p>
                                        <div class="location-address-block">
                                            <p class="paragraph">
                                                Green Valley Organic Farm<br/>
                                                127 Harvest Lane<br/>Udaipur, 313804
                                            </p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="location-content-wrapper">
                                    <div class="location-block">
                                        <h2 class="heading is-small-title">Stores</h2>
                                        <p class="paragraph">Step into our stores and discover the freshest produce, goods, and farm-to-table essentials.</p>
                                    </div>
                                    <div class="location-block">
                                        <p class="paragraph is-extra-large">Gandhinagar Gujarat</p>
                                        <div class="location-address-block">
                                            <p class="paragraph">
                                                The Farm Market<br/>
                                                56 Freshfield Avenue<br/>Gandhinagar, 91016
                                            </p>
                                        </div>
                                    </div>
                                    <div class="location-block">
                                        <p class="paragraph is-extra-large">Ahmdabad</p>
                                        <div class="location-address-block">
                                            <p class="paragraph">
                                                Harvest Haven Store<br/>
                                                210 Market Square<br/>Ahmdabad, 98541
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section">
                    <div id="start" class="contact-info-wrapper">
                        <div class="contact-info-marker">
                            <div data-wf--marker--variant="base" class="marker">
                                <div class="marker-title-wrapper">
                                    <img src="{% static 'images/674df336a930ddd34ee3f5c6_line_start_diamond_24dp_EDFCF4_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-left for-dark-bg"/>
                                    <img src="{% static 'images/674df336a930ddd34ee3f5ba_line_start_diamond_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-left"/>
                                    <div class="marker-title">Information</div>
                                    <img src="{% static 'images/674df336a930ddd34ee3f5bb_line_end_diamond_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-right"/>
                                    <img src="{% static 'images/674df336a930ddd34ee3f5c7_line_end_diamond_24dp_EDFCF4_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-right for-dark-bg"/>
                                </div>
                                <div class="marker-number">II</div>
                            </div>
                        </div>
                        <div class="contact-info-grid">
                            <div id="w-node-d4a19a0a-23cb-e64c-9e5d-9871f6de2dc7-4ee3f2b9" class="contact-info-content">
                                <div class="contact-info-block">
                                    <div class="vertical-flex with-gap-2em">
                                        <h2 class="heading is-small-title">We’d love to hear from you!</h2>
                                        <p class="paragraph">Whether you have a question, feedback, or simply want to connect, our team is here to help.</p>
                                    </div>
                                    <div class="contact-links">
                                        <p class="uppercase-text">Contact Information</p>
                                        <a href="#" class="contact-link">our.farm@example.com</a>
                                        <a href="#" class="contact-link">(+91) 9799649091</a>
                                    </div>
                                    <div class="contact-links">
                                        <p class="uppercase-text">Business Hours</p>
                                        <p class="paragraph">
                                            <strong>Monday – Friday:</strong>
                                            8:00 AM – 5:00 PM<br/>
                                            <strong>Saturday:</strong>
                                            9:00 – 6:00 PM<br/>
                                            <strong>Sunday:</strong>
                                            10:00 AM – 4:00 PM
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-d4a19a0a-23cb-e64c-9e5d-9871f6de2dd5-4ee3f2b9" class="contact-info-form">
                                <div class="contact-form-block">
                                    <h2 class="heading is-small-title">The form</h2>
                                    <p class="paragraph">
                                        Feel free to reach out through our form.<span class="opacity-70">We typically gets back within 2 business days.</span>
                                    </p>
                                    <div class="form ">
                                        <form id="wf-form-Contact-form" name="wf-form-Contact-form" data-name="Contact form" method="get" class="form-flex" data-wf-page-id="674df336a930ddd34ee3f2b9" data-wf-element-id="01a6196e-2ca7-7a35-c87d-c56c35a38844" data-turnstile-sitekey="0x4AAAAAAAQTptj2So4dx43e">
                                            <input class="form-field w-input" maxlength="256" name="Form-Name" data-name="Form Name" placeholder="Your name  *" type="text" id="Form-Name" required=""/>
                                            <input class="form-field w-input" maxlength="256" name="Form-Email" data-name="Form Email" placeholder="Your email  *" type="email" id="Form-Email" required=""/>
                                            <input class="form-field w-input" maxlength="256" name="Form-Phone" data-name="Form Phone" placeholder="Your Phone  *" type="tel" id="Form-Phone" required=""/>
                                            <input class="form-field w-input" maxlength="256" name="Subject" data-name="Subject" placeholder="Subject" type="text" id="Form-Subject"/>
                                            <textarea id="Form-Message" name="Message" maxlength="5000" data-name="Message" placeholder="Message" class="form-field is-text-area w-input"></textarea>
                                            <label class="w-checkbox checkbox-field">
                                                <div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox"></div>
                                                <input id="Terms-And-Conditions" type="checkbox" name="Terms-And-Conditions" data-name="Terms And Conditions" required="" style="opacity:0;position:absolute;z-index:-1"/>
                                                <span class="checkbox-label w-form-label" for="Terms-And-Conditions">
                                                    I agree to the <a href="#" class="checkbox-link-text">terms and conditions</a>
                                                </span>
                                            </label>
                                            <input type="submit" data-wait="Sending..." class="form-submit-button w-button" value="Submit the message"/>
                                        </form>
                                        <div class="form-success-message w-form-done">
                                            <div class="form-success-title">Sent!</div>
                                            <p class="paragraph is-medium">Thank you.</p>
                                        </div>
                                        <div class="form-error-message w-form-fail">
                                            <p class="form-error-paragraph">An error has occurred somewhere and it is not possible to submit the form. Please try again later.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div data-wf--store-call-to-action-block--variant="base" class="store-call-to-action">
                    <div class="store-cta-layout">
                        <div class="store-cta-content">
                            <h3 data-w-id="04234e13-94a9-16cf-6ee5-05400d170b4d" class="heading is-store-cta-title">The Farm Shop</h3>
                            <p data-w-id="04234e13-94a9-16cf-6ee5-05400d170b4f" class="store-cta-paragraph">Bring the farm to your table. Explore our fresh, organic produce and handcrafted goods today!</p>
                            <div data-w-id="04234e13-94a9-16cf-6ee5-05400d170b51" class="store-cta-button">
                                <a href="/store" class="main-button w-inline-block">
                                    <p class="main-button-text">Online Store</p>
                                    <img src="{% static 'images/674df336a930ddd34ee3f58a_arrow_forward_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="main-button-icon"/>
                                    <img src="{% static 'images/674df336a930ddd34ee3f614_leaf-1.avif' %}" loading="lazy" alt="" class="main-button-pattern"/>
                                </a>
                            </div>
                        </div>
                        <div class="store-cta-image">
                            <div class="store-cta-overlay-color"></div>
                            <div class="image-3d-parallax">
                                <div class="_3d-block">
                                    <div class="_3d-trigger">
                                        <div class="parallax-animation">
                                            <img src="{% static 'images/674df336a930ddd34ee3f63c_grocery-bg-1.webp' %}" alt="Grocery" class="cover-image is-parallax"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="footer">
                    <div class="footer-newsletter">
                        <div class="container">
                            <div class="footer-newsletter-layout">
                                <p class="paragraph is-large">
                                    Subscribe <span class="opacity-70">to our newsletter</span>
                                </p>
                                <div class="footer-newsletter-form-block">
                                    <div class="newsletter-form ">
                                        <form id="wf-form-Newsletter" name="wf-form-Newsletter" data-name="Newsletter" method="get" class="newsletter-form-layout" data-wf-page-id="674df336a930ddd34ee3f2b9" data-wf-element-id="853d8d5b-3ec3-2c6a-ff99-63f9781b4b3d" data-turnstile-sitekey="0x4AAAAAAAQTptj2So4dx43e">
                                            <input class="newsletter-field w-input" maxlength="256" name="Email" data-name="Email" placeholder="your.email@example.com" type="email" id="newsletter-email" required=""/>
                                            <input type="submit" data-wait="Sending..." class="newsletter-submit-button w-button" value="Sign up"/>
                                        </form>
                                        <div class="form-success-message is-newsletter w-form-done">
                                            <div class="form-newsletter-success-text">You are subscribed!</div>
                                        </div>
                                        <div class="form-error-message w-form-fail">
                                            <p class="form-error-paragraph">An error has occurred somewhere and it is not possible to submit the form. Please try again later.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
</section>


{% endblock %}