{% load static %}
<nav class="nav">
    <div data-w-id="eee65100-dfdb-5d39-9ad2-7f4724b214d4" class="nav-burger-button">
        <div class="nav-burger-button-icon">
            <div class="nav-burger-icon-line"></div>
            <div class="nav-burger-icon-line"></div>
        </div>
        <div class="nav-burger-button-text">Menu</div>
        <div class="nav-burger-button-bg"></div>
        <img src="{% static 'images/674df336a930ddd34ee3f5ec_farm-illustration-4.webp' %}" 
            loading="lazy"
            sizes="(max-width: 991px) 100vw, 
                    (max-width: 1439px) 17vw, 
                    (max-width: 1919px) 255.32186889648438px, 
                    272.92498779296875px"
            srcset="{% static 'images/674df336a930ddd34ee3f5ec_farm-illustration-4-p-500.webp' %} 500w,
                    {% static 'images/674df336a930ddd34ee3f5ec_farm-illustration-4-p-800.webp' %} 800w,
                    {% static 'images/674df336a930ddd34ee3f5ec_farm-illustration-4-p-1080.webp' %} 1080w,
                    {% static 'images/674df336a930ddd34ee3f5ec_farm-illustration-4-p-1600.webp' %} 1600w,
                    {% static 'images/674df336a930ddd34ee3f5ec_farm-illustration-4.webp' %} 2048w"
            alt=""
            class="nav-burger-button-pattern"/>
    </div>

    <div class="nav-wrapper">
        <div class="nav-main">
            <a href="/" aria-current="page" class="nav-brand w-nav-brand w--current">
                <img src="" loading="lazy" alt="" class="brand-logo-image"/>
                <p class="brand-name-text">Sramik</p>
            </a>
            
        </div>
        <div class="nav-additions">
                        <form action="/search" class="search w-form">
                            <input class="search-input w-input" maxlength="256" name="query" placeholder="Search..." type="search" id="search" required=""/>
                            <input type="submit" aria-label="Enter search button" class="search-button w-button" value=""/>
                        </form>
                        <div data-node-type="commerce-cart-wrapper" data-open-product="" data-wf-cart-type="rightSidebar"data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper nav-cart">

                        <a href="#" data-node-type="commerce-cart-open-link" aria-haspopup="dialog" aria-label="Open cart" role="button" class="w-commerce-commercecartopenlink nav-cart-button w-inline-block">
                                <img src="{% static 'images/674df336a930ddd34ee3f59c_shopping_basket_24dp_E0F8EC_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="nav-button-icon"/>
                                
                            </a>
                        </div>
    </div>
</nav>


<div class="fullscreen-menu">
    <div class="fs-menu-flex">
        <div class="fs-menu-column-links">
            <div data-w-id="68cd965d-7a28-bf6b-a544-4ff6d65b9249" class="close-button"></div>
            <div class="fs-menu-links">
                <a href="/" aria-current="page" class="fs-menu-link w--current">Home</a>
                
                
                <a href="/store" class="fs-menu-link">Store</a>
            </div>
            <div class="fs-menu-small-links">
                <a href="/contact" class="fs-menu-link-small">Contact</a>
                <a href="/gallerys" class="fs-menu-link-small">Gallery</a>
                
            </div>
            <form action="/search" class="search-in-full-menu w-form">
                <input maxlength="256" name="query" placeholder="Search..." required="" type="search" class="search-input-in-full-menu w-input"/>
                <input type="submit" aria-label="Enter search button" class="search-button-in-full-menu w-button" value=""/>
            </form>
        </div>
        <div class="fs-menu-column-social">
            <div class="fs-socials w-dyn-list">
                <div role="list" class="fs-socials-list w-dyn-items">
                    <div role="listitem" class="fs-social-item w-dyn-item">
                        <a aria-label="Social Button" href="#" class="fs-social-icon-link w-inline-block">
                            <img src="{% static 'images/674df336a930ddd34ee3f2d2_youtube-logo-white.svg' %}" loading="lazy" alt="Youtube" class="social-icon in-fs-menu"/>
                        </a>
                    </div>
                    <div role="listitem" class="fs-social-item w-dyn-item">
                        <a aria-label="Social Button" href="#" class="fs-social-icon-link w-inline-block">
                            <img src="{% static 'images/674df336a930ddd34ee3f3af_facebook-logo-white.svg' %}" loading="lazy" alt="Facebook" class="social-icon in-fs-menu"/>
                        </a>
                    </div>
                    <div role="listitem" class="fs-social-item w-dyn-item">
                        <a aria-label="Social Button" href="#" class="fs-social-icon-link w-inline-block">
                            <img src="{% static 'images/674df336a930ddd34ee3f3cd_linkedin-logo-white.svg' %}" loading="lazy" alt="LinkedIn" class="social-icon in-fs-menu"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="fs-menu-image">
                <img src="{% static 'images/674df336a930ddd34ee3f586_farm-template-img-2.avif' %}" 
                    loading="lazy" 
                    sizes="100vw" 
                    srcset="{% static 'images/674df336a930ddd34ee3f586_farm-template-img-2.avif' %} 500w,
                            {% static 'images/674df336a930ddd34ee3f586_farm-template-img-2.avif' %} 800w,
                            {% static 'images/674df336a930ddd34ee3f586_farm-template-img-2.avif' %} 1080w,
                            {% static 'images/674df336a930ddd34ee3f586_farm-template-img-2.avif' %} 2400w" 
                    alt="Farming" 
                    class="menu-cover-image"/>
            </div>
        </div>
        <div class="fs-menu-column-contact">
            <div class="location-block">
                <p class="uppercase-text">Farm Location</p>
                <div class="location-address-block">
                    <p class="paragraph">
                        Village Nagar Post Aadiwali<br/>
                        Kherwara Udaipur<br/>Raj , 313804
                    </p>
                </div>
            </div>
            <div class="fs-contact-links">
                <p class="uppercase-text">Information</p>
                <a href="#" class="fs-contact-link">kushal.learniphi@gmail.com</a>
                <a href="#" class="fs-contact-link">(+91) 9327029064</a>
            </div>
        </div>
        <div class="fs-menu-delay-for-animations"></div>
        <div class="fs-menu-bg"></div>
    </div>
</div>