{% load static %}
<section class="section with-light-background">
                    <div class="container">
                        <div class="padding">
                            <div data-wf--section-content-block--variant="with-margin" class="section-content-block w-variant-b545fa43-40fa-8293-2e93-790fc0985468">
                                <div data-wf--marker--variant="base" class="marker">
                                    <div class="marker-title-wrapper">
                                        <img src="{% static 'images/674df336a930ddd34ee3f5c6_line_start_diamond_24dp_EDFCF4_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-left for-dark-bg"/>
                                        <img src="{% static 'images/674df336a930ddd34ee3f5ba_line_start_diamond_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-left"/>
                                        <div class="marker-title">Online Shop</div>
                                        <img src="{% static 'images/674df336a930ddd34ee3f5bb_line_end_diamond_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-right"/>
                                        <img src="{% static 'images/674df336a930ddd34ee3f5c7_line_end_diamond_24dp_EDFCF4_FILL0_wght600_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="marker-icon is-right for-dark-bg"/>
                                    </div>
                                    <div class="marker-number">VII</div>
                                </div>
                                <h2 data-w-id="80086e74-9235-ae1a-d2a6-ce2f6e6ae4ab" class="heading is-large-title">Seasonal Favorites Await</h2>
                            </div>
                            <div class="products-shop w-dyn-list">
                                <div role="list" class="products-shop-list w-dyn-items">
                                    <div id="w-node-_66c387b2-d4b3-04cb-19cc-a09c07e7a3c7-4ee3f292" role="listitem" class="product-shop-item w-dyn-item">
                                        <div class="product-shop-image">
                                            <div class="product-shop-badges">
                                                <div class="product-shop-badge">
                                                    <img src="{% static 'images/674df336a930ddd34ee3f60f_star_24dp_DDF1E7_FILL0_wght500_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="icon is-badge-icon"/>
                                                    <p class="paragraph is-small">Featured</p>
                                                </div>
                                                <div data-wf-sku-conditions="%7B%22condition%22%3A%7B%22fields%22%3A%7B%22default-sku%3Acompare-at-price%22%3A%7B%22exists%22%3A%22yes%22%2C%22type%22%3A%22CommercePrice%22%7D%7D%7D%2C%22timezone%22%3A%22Europe%2FBratislava%22%7D" class="product-shop-badge w-condition-invisible">
                                                    <img src="{% static 'images/674df336a930ddd34ee3f610_sell_24dp_DDF1E7_FILL0_wght500_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="icon is-badge-icon"/>
                                                    <p class="paragraph is-small">Sale</p>
                                                </div>
                                            </div>
                                            <div class="product-shop-buttons">
                                                <a href="#" class="product-detail-button w-inline-block">
                                                    <div>Detail</div>
                                                </a>
                                                <div class="add-to-cart">
                                                    <form data-node-type="commerce-add-to-cart-form" data-commerce-sku-id="674df336a930ddd34ee3f4c5" data-loading-text="Adding to cart..." data-commerce-product-id="674df336a930ddd34ee3f4c2" class="w-commerce-commerceaddtocartform product-shop-cart-button">
                                                        <input type="submit" data-node-type="commerce-add-to-cart-button" data-loading-text="Adding..." aria-busy="false" aria-haspopup="dialog" class="w-commerce-commerceaddtocartbutton add-to-cart-button" value="Add to Cart"/>
                                                        <a data-node-type="commerce-buy-now-button" data-default-text="Buy now" data-subscription-text="Subscribe now" aria-busy="false" aria-haspopup="false" style="display:none" class="w-commerce-commercebuynowbutton" href="#">Buy now</a>
                                                    </form>
                                                    <div tabindex="0" style="display:none" class="w-commerce-commerceaddtocartoutofstock out-of-stock-state" tabindex="0">
                                                        <div>Out of stock.</div>
                                                    </div>
                                                    <div aria-live="assertive" data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror error-state">
                                                        <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="_3d-block">
                                                <div class="_3d-trigger">
                                                   <img 
                                                        src="{% static 'images/674df336a930ddd34ee3f67d_Serene Vineyard Panorama.jpeg' %}" 
                                                        data-wf-sku-bindings='[{"from":"f_main_image_4dr","to":"src"}]' 
                                                        alt="Guided Farm Tour" 
                                                        sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, (max-width: 1439px) 28vw, 29vw"
                                                        srcset="
                                                            {% static 'images/674df336a930ddd34ee3f67d_Serene20Panorama-p-500.jpeg' %} 500w,
                                                            {% static 'images/674df336a930ddd34ee3f67d_Serene20Panorama-p-800.jpeg' %} 800w,
                                                            {% static 'images/674df336a930ddd34ee3f67d_Serene20Panorama-p-1080.jpeg' %} 1080w,
                                                            {% static 'images/674df336a930ddd34ee3f67d_Serene20Panorama-p-1600.jpeg' %} 1600w,
                                                            {% static 'images/674df336a930ddd34ee3f67d_Serene20Panorama-p-2000.jpeg' %} 2000w,
                                                            {% static 'images/674df336a930ddd34ee3f67d_Serene Vineyard Panorama.jpeg' %} 2400w
                                                        " 
                                                        class="cover-image"
                                                        />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-shop-content">
                                            <a href="#" class="product-shop-title-link w-inline-block">
                                                <h2 class="heading is-product-shop-title">Guided Farm Tour</h2>
                                            </a>
                                            <p class="paragraph">Embark on a 1-hour guided tour of our farm to explore the fields and learn about farming practices. </p>
                                            <div class="product-shop-prices">
                                                <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-shop-price is-compare-price w-dyn-bind-empty"></p>
                                                <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-shop-price">$ 15.00 USD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="w-node-_66c387b2-d4b3-04cb-19cc-a09c07e7a3c7-4ee3f292" role="listitem" class="product-shop-item w-dyn-item">
                                        <div class="product-shop-image">
                                            <div class="product-shop-badges">
                                                <div class="product-shop-badge">
                                                    <img src="{% static 'images/674df336a930ddd34ee3f60f_star_24dp_DDF1E7_FILL0_wght500_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="icon is-badge-icon"/>
                                                    <p class="paragraph is-small">Featured</p>
                                                </div>
                                                <div data-wf-sku-conditions="%7B%22condition%22%3A%7B%22fields%22%3A%7B%22default-sku%3Acompare-at-price%22%3A%7B%22exists%22%3A%22yes%22%2C%22type%22%3A%22CommercePrice%22%7D%7D%7D%2C%22timezone%22%3A%22Europe%2FBratislava%22%7D" class="product-shop-badge">
                                                    <img src="{% static 'images/674df336a930ddd34ee3f610_sell_24dp_DDF1E7_FILL0_wght500_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="icon is-badge-icon"/>
                                                    <p class="paragraph is-small">Sale</p>
                                                </div>
                                            </div>
                                            <div class="product-shop-buttons">
                                                <a href="#" class="product-detail-button w-inline-block">
                                                    <div>Detail</div>
                                                </a>
                                                <div class="add-to-cart">
                                                    <form data-node-type="commerce-add-to-cart-form" data-commerce-sku-id="674df336a930ddd34ee3f4c3" data-loading-text="Adding to cart..." data-commerce-product-id="674df336a930ddd34ee3f4c0" class="w-commerce-commerceaddtocartform product-shop-cart-button">
                                                        <input type="submit" data-node-type="commerce-add-to-cart-button" data-loading-text="Adding..." aria-busy="false" aria-haspopup="dialog" class="w-commerce-commerceaddtocartbutton add-to-cart-button" value="Add to Cart"/>
                                                        <a data-node-type="commerce-buy-now-button" data-default-text="Buy now" data-subscription-text="Subscribe now" aria-busy="false" aria-haspopup="false" style="display:none" class="w-commerce-commercebuynowbutton" href="#">Buy now</a>
                                                    </form>
                                                    <div tabindex="0" style="display:none" class="w-commerce-commerceaddtocartoutofstock out-of-stock-state" tabindex="0">
                                                        <div>Out of stock.</div>
                                                    </div>
                                                    <div aria-live="assertive" data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror error-state">
                                                        <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="_3d-block">
                                                <div class="_3d-trigger">
                                                    <img src="{% static 'images/674df336a930ddd34ee3f50a_farm-vegs-3.jpg' %}" data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" alt="Family Fresh Basket" sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, (max-width: 1439px) 28vw, 29vw" srcset="{% static 'images/674df336a930ddd34ee3f50a_farm-vegs-3-p-500.jpg' %} 500w, {% static 'images/674df336a930ddd34ee3f50a_farm-vegs-3-p-800.jpg' %} 800w, {% static 'images/674df336a930ddd34ee3f50a_farm-vegs-3-p-1080.jpg' %} 1080w, {% static 'images/674df336a930ddd34ee3f50a_farm-vegs-3-p-1600.jpg' %} 1600w, {% static 'images/674df336a930ddd34ee3f50a_farm-vegs-3-p-2000.jpg' %} 2000w, {% static 'images/674df336a930ddd34ee3f50a_farm-vegs-3.jpg' %} 2912w" class="cover-image"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-shop-content">
                                            <a href="#" class="product-shop-title-link w-inline-block">
                                                <h2 class="heading is-product-shop-title">Family Fresh Basket</h2>
                                            </a>
                                            <p class="paragraph">Feed your family with a basket full of farm-fresh, seasonal produce. Perfect for delicious, healthy meals.</p>
                                            <div class="product-shop-prices">
                                                <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-shop-price is-compare-price">$ 129.00 USD</p>
                                                <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-shop-price">$ 99.00 USD</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="w-node-_66c387b2-d4b3-04cb-19cc-a09c07e7a3c7-4ee3f292" role="listitem" class="product-shop-item w-dyn-item">
                                        <div class="product-shop-image">
                                            <div class="product-shop-badges">
                                                <div class="product-shop-badge w-condition-invisible">
                                                    <img src="{% static 'images/674df336a930ddd34ee3f60f_star_24dp_DDF1E7_FILL0_wght500_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="icon is-badge-icon"/>
                                                    <p class="paragraph is-small">Featured</p>
                                                </div>
                                                <div data-wf-sku-conditions="%7B%22condition%22%3A%7B%22fields%22%3A%7B%22default-sku%3Acompare-at-price%22%3A%7B%22exists%22%3A%22yes%22%2C%22type%22%3A%22CommercePrice%22%7D%7D%7D%2C%22timezone%22%3A%22Europe%2FBratislava%22%7D" class="product-shop-badge">
                                                    <img src="{% static 'images/674df336a930ddd34ee3f610_sell_24dp_DDF1E7_FILL0_wght500_GRAD0_opsz24.svg' %}" loading="lazy" alt="" class="icon is-badge-icon"/>
                                                    <p class="paragraph is-small">Sale</p>
                                                </div>
                                            </div>
                                            <div class="product-shop-buttons">
                                                <a href="#" class="product-detail-button w-inline-block">
                                                    <div>Detail</div>
                                                </a>
                                                <div class="add-to-cart">
                                                    <form data-node-type="commerce-add-to-cart-form" data-commerce-sku-id="674df336a930ddd34ee3f4c4" data-loading-text="Adding to cart..." data-commerce-product-id="674df336a930ddd34ee3f4c1" class="w-commerce-commerceaddtocartform product-shop-cart-button">
                                                        <input type="submit" data-node-type="commerce-add-to-cart-button" data-loading-text="Adding..." aria-busy="false" aria-haspopup="dialog" class="w-commerce-commerceaddtocartbutton add-to-cart-button" value="Add to Cart"/>
                                                        <a data-node-type="commerce-buy-now-button" data-default-text="Buy now" data-subscription-text="Subscribe now" aria-busy="false" aria-haspopup="false" style="display:none" class="w-commerce-commercebuynowbutton" href="#">Buy now</a>
                                                    </form>
                                                    <div tabindex="0" style="display:none" class="w-commerce-commerceaddtocartoutofstock out-of-stock-state" tabindex="0">
                                                        <div>Out of stock.</div>
                                                    </div>
                                                    <div aria-live="assertive" data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror error-state">
                                                        <div data-node-type="commerce-add-to-cart-error" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart." data-w-add-to-cart-mixed-cart-error="You can’t purchase another product with a subscription." data-w-add-to-cart-buy-now-error="Something went wrong when trying to purchase this item." data-w-add-to-cart-checkout-disabled-error="Checkout is disabled on this site." data-w-add-to-cart-select-all-options-error="Please select an option in each set.">Product is not available in this quantity.</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="_3d-block">
                                                <div class="_3d-trigger">
                                                    <img src="{% static 'images/674df336a930ddd34ee3f597_farm-vegs-1.jpg' %}" data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" alt="Seasonal Veggie Basket" sizes="(max-width: 479px) 88vw, (max-width: 767px) 93vw, (max-width: 991px) 95vw, (max-width: 1439px) 28vw, 29vw" srcset="{% static 'images/674df336a930ddd34ee3f597_farm-vegs-1-p-500.jpg' %} 500w, {% static 'images/674df336a930ddd34ee3f597_farm-vegs-1-p-800.jpg' %} 800w, {% static 'images/674df336a930ddd34ee3f597_farm-vegs-1-p-1080.jpg' %} 1080w, {% static 'images/674df336a930ddd34ee3f597_farm-vegs-1-p-1600.jpg' %} 1600w, {% static 'images/674df336a930ddd34ee3f597_farm-vegs-1-p-2000.jpg' %} 2000w, {% static 'images/674df336a930ddd34ee3f597_farm-vegs-1.jpg' %} 2912w" class="cover-image"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-shop-content">
                                            <a href="#" class="product-shop-title-link w-inline-block">
                                                <h2 class="heading is-product-shop-title">Seasonal Veggie Basket</h2>
                                            </a>
                                            <p class="paragraph">A handpicked assortment of the freshest, seasonal vegetables straight from our fields to your table.</p>
                                            <div class="product-shop-prices">
                                                <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-shop-price is-compare-price">$ 99.00 USD</p>
                                                <p data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="product-shop-price">$ 79.00 USD</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>