<section class="section with-dark-background">
                    <div class="padding">
                        <div class="container">
                            <div class="vertical-flex with-gap-4em is-center">
                                <div data-wf--section-content-block--variant="with-margin" class="section-content-block w-variant-b545fa43-40fa-8293-2e93-790fc0985468">
                                    <div data-wf--marker--variant="dark-background" class="marker">
                                        <div class="marker-title-wrapper">
                                            <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5c6_line_start_diamond_24dp_EDFCF4_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="marker-icon is-left w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604 for-dark-bg"/>
                                            <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5ba_line_start_diamond_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="marker-icon is-left w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604"/>
                                            <div class="marker-title">Sustainable</div>
                                            <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5bb_line_end_diamond_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="marker-icon is-right w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604"/>
                                            <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5c7_line_end_diamond_24dp_EDFCF4_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="marker-icon is-right w-variant-4efdea9d-ca17-7c39-4e67-e4109e691604 for-dark-bg"/>
                                        </div>
                                        <div class="marker-number">IV</div>
                                    </div>
                                    <h2 data-w-id="80086e74-9235-ae1a-d2a6-ce2f6e6ae4ab" class="heading is-large-title">Protect the Environment While Delivering High-Quality Produce</h2>
                                    <div data-w-id="80086e74-9235-ae1a-d2a6-ce2f6e6ae4af">
                                        <a href="/selection" class="main-button w-inline-block">
                                            <p class="main-button-text">Our Offerings</p>
                                            <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f58a_arrow_forward_24dp_1F3329_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="main-button-icon"/>
                                            <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f614_leaf-1.avif" loading="lazy" alt="" class="main-button-pattern"/>
                                        </a>
                                    </div>
                                </div>
                                <div class="about-farm">
                                    <div class="about-farm-grid-block">
                                        <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f58e_energy_program_saving_24dp_E0F8EC_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="large-icon"/>
                                        <h2 class="heading is-small-title">Roots</h2>
                                        <p class="paragraph opacity-70">Founded with a vision to reconnect people with nature.</p>
                                    </div>
                                    <div class="about-farm-grid-block">
                                        <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f58c_compost_24dp_E0F8EC_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="large-icon"/>
                                        <h2 class="heading is-small-title">Passion</h2>
                                        <p class="paragraph opacity-70">Our farm thrives thanks to the passionate hands and hearts behind it.</p>
                                    </div>
                                    <div class="about-farm-grid-block">
                                        <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f58d_agriculture_24dp_E0F8EC_FILL0_wght600_GRAD0_opsz24.svg" loading="lazy" alt="" class="large-icon"/>
                                        <h2 class="heading is-small-title">Freshness</h2>
                                        <p class="paragraph opacity-70">We believe in shortening the distance between our fields and your table.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5eb_farm-illustration-3.webp" loading="lazy" sizes="(max-width: 767px) 50vw, 40vw" srcset="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5eb_farm-illustration-3-p-500.webp 500w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5eb_farm-illustration-3-p-800.webp 800w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5eb_farm-illustration-3-p-1080.webp 1080w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5eb_farm-illustration-3-p-1600.webp 1600w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5eb_farm-illustration-3.webp 2048w" alt="" class="background-illustration-3"/>
                    <img src="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5ec_farm-illustration-4.webp" loading="lazy" sizes="(max-width: 767px) 60vw, 50vw" srcset="https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5ec_farm-illustration-4-p-500.webp 500w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5ec_farm-illustration-4-p-800.webp 800w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5ec_farm-illustration-4-p-1080.webp 1080w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5ec_farm-illustration-4-p-1600.webp 1600w, https://cdn.prod.website-files.com/674df336a930ddd34ee3f28e/674df336a930ddd34ee3f5ec_farm-illustration-4.webp 2048w" alt="" class="background-illustration-4"/>
                </section>

